<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App Login</title>
    <link rel="stylesheet" href="/css/playerIndex.css" />
</head>
<body>
    <h1> Welcome to the Player Login for the Pokemon App</h1>
    <p>Already have a player created, login below...</p>
    <p>If not sign up here... </p>

    <nav> 
        <a href="/players/signup"> Sign Up </a>
        <br/>
        <br/>
        <br/>
        <a href="/players/login"> Log In </a>
    </nav>
    <br/>
    <br/>
    <br/>
    <a class="pokemonHomepage" href="/pokemon"> View all Pokemon </a> 
</body>
</html>