body {
    background-image: url("https://i.imgur.com/nYHSPcZ.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    color: black;
    background-color: white;
}

a{
    background-color:white;
}