body {
    /* background-image: url(""); */
    /* background-size: cover; */
    /* background-repeat: no-repeat;  */
    color: white;
    background-color: black;
}

h1{
    color: white;
}

a{
    color:white;
}